.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  li {
    display: inline-block;
    //text-align: center;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    /*width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #fe5f1e;
    cursor: pointer;
    &:hover {
      background-color: #fe5f1e;
      a {
        color: white;
      }
    }*/

    a {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-right: 15px;
      border-radius: 50%;
      padding: 10px;
      border: 1px solid #fe5f1e;
      cursor: pointer;
      &:hover {
        background-color: #fe5f1e;
        color: white;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: white;
      }

    }
  }

  /*:global {
    .previous {
      background-color: red;
    }
  }*/

}
/*@media (max-width: 950px) {
  .root {

    li {
      a {
        width: 30px;
        height: 30px;
        padding: 8px;
        font-size: 14px;
      }
    }
  }
}*/
/*
@media (max-width: 510px) {
  .root {
    li {
      a {
        width: 25px;
        height: 25px;
        padding: 7px;
        font-size: 13px;
        margin-right: 8.5px;
      }
    }
  }
}

@media (max-width: 390px) {
  .root {
    li {
      a {
        width: 21px;
        height: 21px;
        padding: 6px;
        font-size: 11px;
        margin-right: 6px;
      }
    }
  }
}*/

@media (max-width: 1280px) {
  .root {
    max-width: 700px;
  }
}

@media (max-width: 930px) {
  .root {
    max-width: 500px;
  }
}

@media (max-width: 767.98px) {
  .root {
    max-width: 100%;
  }
}