
.headerWrapper {
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 0 0 10px 0;
  //border-bottom: 1px solid #c4b9b9;
  font-weight: 700;
  /*background-color: #ffffff;
  border-collapse: separate;*/
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  height: 126px;
  //background-color: #f6f4f0;
  /*background: -webkit-linear-gradient(135deg, rgb(228, 244, 229), rgb(155, 203, 204) 96%);
  background: -moz-linear-gradient(135deg, rgb(228, 244, 229), rgb(155, 203, 204) 96%);
  background: linear-gradient(135deg, rgb(228, 244, 229), rgb(155, 203, 204) 96%);*/
  //max-width: 1400px;

  /*background: -webkit-linear-gradient(90deg, rgb(152, 207, 195) 10%, rgb(86, 181, 184) 78%);
  background: -moz-linear-gradient(90deg, rgb(152, 207, 195) 10%, rgb(86, 181, 184) 78%);
  background: linear-gradient(90deg, rgb(152, 207, 195) 10%, rgb(86, 181, 184) 78%);*/
  background: -webkit-linear-gradient(90deg, rgb(234, 234, 234), rgb(222, 227, 227));
  background: -moz-linear-gradient(90deg, rgb(234, 234, 234), rgb(222, 227, 227));
  background: linear-gradient(90deg, rgb(234, 234, 234), rgb(222, 227, 227));
  opacity: 0.9;

  @media (max-width: 700px) {
    
  }

}

.logotype {

  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: left;

  a {
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: left;
    img {
      width: 150px;
    }

    span {
      font-family: 'Caveat', cursive;
      font-size: 70px;
    }

  }
  

}

.items {
  display: flex;
  align-items: center;
  //justify-content: space-around;

 // height: 80px;
 // overflow: hidden;


}

/*@media (max-width: 560px) {
  .items {
    display: flex;
    justify-content: space-between;
  }
  .logotype {
    display: none;
  }
  .item {
    margin: 0 !important;
  }
}*/

@media (max-width: 500px) {
  .headerWrapper {
    height: 105px;
  }
  .logotype {
    a {
      img {
        width: 100px;
      }
      span {
        font-size: 50px;
      }
    }
  }
}


@media (max-width: 405px) {
  .headerWrapper {
    height: 80px;
  }
  .logotype {
    a {
      img {
        width: 75px;
      }
      span {
        font-size: 35px;
      }
    }
  }
  .item {
    a {
      img {
        display: none;
      }
    }
  }
}

.item {
  font-size: 40px;
  //margin-right: 15px;
  margin: 0 20px 0 auto;
  a {
    margin-bottom: 0;
  }
}

.extraMargin {
  margin-right: 50px;
}



.number {
  padding-left: 15px;
  color: white !important;
}

