
.navbarWrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  font-size: 32px;
  font-weight: 700;
  //margin-right: 50px;
  //background-color: white;
  //border-right: 1px solid #e7e1e1;;
  a {
    text-decoration: none;
    color: black;
  }
}

.items {
  display: flex;
  align-items: center;
  img {
    width: 50px;
  }
  div {
    text-decoration: none;
  }
}