
.hocWrapper {
  //height: 100vh;
 // margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__error {
    font-size: 40px;
    margin-bottom: 25px;
  }
}

.buttonBack {
  margin-bottom: 20px;
}