.dishWrapper {
  text-align: center;
  margin-bottom: 50px;

  .mainImage {
    width: 500px;
    margin-bottom: 20px;

  }
}

.mainTitle {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 900px;
  padding: 0 5px;
  @media (max-width: 1210px) {
    max-width: 700px;
  }
}

.recipeBlock {
  /*display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2px;*/
  max-width: 900px;
  @media (max-width: 1210px) {
    max-width: 700px;
  }

}

.stage {
  font-size: 40px;
}

.stageTitle {
  margin-top: 25px;
  font-size: 34px;
  font-weight: 700;

   p{
     margin: 10px 0 10px 0;
     font-weight: 400;
     font-size: 18px;
   }
}

@media (max-width: 1040px) {
  .mainTitle {
    font-size: 40px;
    margin-bottom: 16px;
  }
  .stage {
    font-size: 36px;
  }
  .stageTitle {
    margin-top: 21px;
    font-size: 32px;
    p {
      font-size: 17px;
    }
  }
}

@media (max-width: 930px) {
  .mainTitle {
    font-size: 36px;
    margin-bottom: 16px;
    max-width: 550px;
  }
  .mainImage {
    width: 400px !important;
  }
  .stage {
    font-size: 32px;
  }
  .stageTitle {
    margin-top: 18px;
    font-size: 28px;
    p {
      font-size: 16px;
    }
  }
  .recipeBlock {
    max-width: 550px;
  }
}



@media (max-width: 440px) {
  .mainTitle {
    font-size: 30px;
    margin-bottom: 13px;
    max-width: 400px;

  }

  .mainImage {
    width: 280px !important;
  }
}