* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;

}

#detach-button-host {
  display: none !important;
}

.full-screen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__body {
    background-color: rgba(0, 0, 0, 0.288);
    padding: 50px 15px;
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
  }

  &__title {
    //*position: absolute;
    //*top: 10vh;
    font-size: 72px;
    letter-spacing: 20px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: rgba(64, 88, 226, 0.753);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.699);
  }

  &__text {
    //*position: absolute;
    //*top: 20vh;
    font-size: 32px;
    letter-spacing: 15px;
    color: rgba(64, 226, 204, 0.753);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.699);
  }

  &__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes fade-in {
   0% {
     opacity: 0;
     transform: translateX(-400px);
   }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes fade-out {
  0% {
    transform: translateX(0);
    opacity: 1;

  }
  100% {

    transform: translateX(100%);
    opacity: 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.wrapper {
  //width: calc(100vw - 100px);
  height: 100%;
  /*background: -webkit-linear-gradient(135deg, rgb(228, 244, 229), rgb(155, 203, 204) 96%);
  background: -moz-linear-gradient(135deg, rgb(228, 244, 229), rgb(155, 203, 204) 96%);
  background: linear-gradient(135deg, rgb(228, 244, 229), rgb(155, 203, 204) 96%);*/
  background-color: transparent;
  margin: 0 auto;
  //border-radius: 20px;
  //box-shadow: ;
  //max-width: 1400px;
  //overflow: hidden;
//  min-height: 100%;
 // overflow: hidden;
  min-height: 100%;
  overflow: hidden;

}

.main {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  padding: 20px 40px 30px 20px;
  //margin-top: 126px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;

}

.container--header {
 // width: 1400px;
}

.content {
  display: flex;
  //flex-direction: row;
  padding-top: 150px;
  margin: 0 auto;
  //gap: ;
}

.categoriesPage__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  padding-left: 100px;
 // @media (max-width: 1250px) {
//    padding-left: 30px;
 // }
  @media (max-width: 1250px) {
    padding-left: 40px;
   // grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.randomPageBlock {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.button {
  width: 250px;
  height: 100px;
  //background: #eaeabf;
  background-color: rgb(0, 0, 0);
  position: relative;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  padding: 5px;
  span {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
  &:nth-child(1) {
    box-shadow: -6px -6px 10px rgba(0, 0, 0, 0.4),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    color: rgb(86, 181, 184);
    transition: all 0.5s ease-in-out;
    &:hover {
      opacity: 0.9;
      transform: translateY(-10px);
      background-color: rgb(86, 181, 184);
      color: black;
      box-shadow: -6px -6px 10px rgba(0, 0, 0, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    }
    &:active {
      opacity: 1;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.6);

      color: #79e3b6;
    }
  }
  &:nth-child(2) {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #000000;
  }
  &:nth-child(3) {
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
    &:hover {
      opacity: 1;
      box-shadow: -6px -6px 10px rgb(255, 255, 255),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

